
/* global-section */
:root{
    --main-color:#0078ff;
}
/* end-global-section */


/* <!-- start-header-section --> */
header {
    height: 100vh;
}

#home {
background: url('../img/hero-bg.jpg') fixed no-repeat center ;
background-size:cover;
background-position: center;
overflow: hidden;
}


.home-content {
background-color: rgba(0, 0, 0, 0.5);
min-height: 100vh;
width: 100%;
}

.nav-item {
    padding :0 10px;
}
.nav {
    top: 0;
    right: 0;
    left: 0;

}
.navbar a {
    color: white;
    font-weight: 500;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover>a {
text-decoration: underline;
color: white
;
}

.navbar{
    background-color: rgba(0, 0, 0, 0.9);
}
.home-content h1 {
    font-size: 4.5rem;
    color: white;
}
.home-content p::after {
    content: "|";
    -webkit-animation-name: typing ;
            animation-name: typing ;
    -webkit-animation-duration: 4s;
            animation-duration: 4s;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
}

@-webkit-keyframes typing{
    0%{content:"D |";}
    5%{content:"De |";}
    10%{content:"Des |";}
    15%{content:"Desi |";}
    20%{content:"Desig |";}
    25%{content:"Design |";}
    30%{content:"Designer |";}
    35%{content:"Design |";}
    40%{content:"Desig |";}
    45%{content:"Desi |";}
    50%{content:"Des |";}
    55%{content:"De |";}
    65%{content:"D |";}
    70%{content:"De |";}
    75%{content:"Dev |";}
    80%{content:"Deve |";}
    85%{content:"Devel |";}
    90%{content:"Develo |";}
    95%{content:"Develop |";}
    100%{content:"Developer |";}
}

@keyframes typing{
    0%{content:"D |";}
    5%{content:"De |";}
    10%{content:"Des |";}
    15%{content:"Desi |";}
    20%{content:"Desig |";}
    25%{content:"Design |";}
    30%{content:"Designer |";}
    35%{content:"Design |";}
    40%{content:"Desig |";}
    45%{content:"Desi |";}
    50%{content:"Des |";}
    55%{content:"De |";}
    65%{content:"D |";}
    70%{content:"De |";}
    75%{content:"Dev |";}
    80%{content:"Deve |";}
    85%{content:"Devel |";}
    90%{content:"Develo |";}
    95%{content:"Develop |";}
    100%{content:"Developer |";}
}

#home p {
    font-size: 2.5rem;
}

/* <!-- end-header-section --> */

/* <!-- start-about-section --> */

#about {
    background-color: #F5F5F5;
    min-height: 100vh;

}
.about-section { 
    padding: 80px 45px;

}
.about-info {
    font-size: 1.1rem;
    padding-left: 0;

}
.about-info span {
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;

}
.about-me p{
    font-size: 1.25rem;
    font-weight: 300;
}
.about-me h5{
    font-size: 2rem;
    position: relative;

}
.about-me h5::after{
content: "";
position: absolute;
background-color:var(--main-color);
width: 20%;
height: 3px;
bottom: 0;
left: 10%;
-webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
        transform: translateX(-50%);
}
.man-img {
padding-left: 40px;    
}
.skills p{
        font-weight: 600;
        color: #1e1e1e;
        font-size: 1.1rem;
}


/* <!-- end-about-section --> */

/* <!-- start-services-section --> */
#services {
    background-color: #F5F5F5;
    min-height: 100vh;

}
#services h3{
text-decoration: none;
font-size: 3rem
}
.title::after{
    content: "";
    position: absolute;
    background-color: var(--main-color);
    width: 7%;
    height: 5px;
    bottom: 0;
    left: 50%;
    -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
            transform: translateX(-50%);
}

/* <!-- end-services-section --> */
/* <!-- start-numbers-section --> */
.icon {
    width: 3rem;
    height: 3rem;
    margin: 1rem 0;
    border: 10px solid var(--main-color);
}

.cards{
    width: 2rem;
    height: 2rem;
    background-color: white;
    border:10px solid var(--main-color);
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
    
}
.services-cards:hover .cards {
    background-color: var(--main-color);
    border: 10px solid lightgray;
}

.services-cards h2 {
    font-size: 1.4rem;
}
.services-cards .icon i {
    -webkit-transition: all 0.5s
    ;
    -o-transition: all 0.5s
    ;
    transition: all 0.5s
    ;
}
.services-cards .icon {
    -webkit-transition: all 0.5s
    ;
    -o-transition: all 0.5s
    ;
    transition: all 0.5s
    ;
}
.title {color: #4E4E4E;}   

/* <!-- end-services-section -->
<!-- start-numbers-section --> */

.counter-box p{
    font-size: 2rem;
}
.icons {
    width: 2rem;
    height: 2rem;
    margin: 1rem 0;
    padding: 35px;
    border: 10px solid #CDE1F8;
}

.numbers {
    padding: 100px 0;
    background: url('../img/post-3.jpg') fixed no-repeat center ;
    background-size:cover;
    height: 100%;
    width: 100%;
}

/* <!-- end-numbers-section --> */
/* <!-- start-PORTFOLIO-section --> */ 

#portfolio {
min-height: 100vh;
padding: 80px;
background-color: #F5F5F5;
}
#portfolio h3{
    text-decoration: none;
    font-size: 3rem
    }
    .card-title h2 {
        font-size: 19.2px;
        line-height:23.04px
;font-weight: 500
;

    }

.w-more p{
    font-size: 0.8rem;
}
.w-more p:first-of-type {
    color: var(--main-color);
}
.portfolio-cards{
    overflow: hidden;
}
.portfolio-cards figure{
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.portfolio-cards:hover figure{
    -webkit-transform: scale(1.1,1.1);
        -ms-transform: scale(1.1,1.1);
            transform: scale(1.1,1.1);

}

.plus {
    border: 3px solid var(--main-color);
    padding: 8px 10px 
}
.plus i {
    font-size: 20px;
    color: var(--main-color);
    cursor: pointer;
}
/* <!-- end-PORTFOLIO-section --> *

/* <!-- start-overlay-section --> */
.overlay {
background: url('../img/overlay-bg.jpg') fixed no-repeat center ;
background-size:cover;
background-position: center;
width: 100%;
overflow: hidden;
height: auto;
}
.swiper {
background-color: rgba(0, 0, 0, 0.5);
width: 100%;
height: auto;
}
.testimonial span{
    font-weight: 600;
    font-size: 1.4rem;
}
.testimonial p{
    font-size: 1.25rem;
    color: white;
    font-weight: 300;
}
/* <!-- end-overlay-section --> */

/* <!-- start-BLOG-section --> */
#blog {
    min-height: 100vh;
    padding: 80px;
    background-color: #F5F5F5;
    }
#blog h3{
        text-decoration: none;
        font-size: 3rem
}
.man {
    width: 2.5rem;
    height: 2.5rem;
    cursor: pointer;
    padding-right: 5px;

}

.left a{
    text-decoration: none;
}
.left span {

    -webkit-transition: all 2s;

    -o-transition: all 2s;

    transition: all 2s;
}
.left:hover span{
color: var(--main-color)
}
.card-image {cursor: pointer;}
/* <!-- end-BLOG-section --> */

/* <!-- start--contact--section --> */
.contact  {
    background: url('../img/overlay-bg.jpg') fixed no-repeat center ;
    background-size:cover;
    background-position: center;
    min-height: 100vh;
    overflow: hidden;
    height: auto;
    padding-top: 100px;
    padding-bottom: 50px;
}
.btn-group-lg>.btn, .btn-lg {
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    
}
.btn-msg {
    
}
.btn-group-lg>.btn, .btn-lg:hover {
    background-color: #82b5ef;
}

.msg h5 {
    font-size: 2rem;
    padding-bottom: 15px;
}
.msg h5::after{
    position: absolute;
    content: "";
    background-color: var(--main-color);
    height: 5px;
    width: 17%;
    bottom: 0;
    left: 0;
}
.msg input{
margin-bottom: 15px;
}

.contacting h5::after{
    position: absolute;
    content: "";
    background-color: var(--main-color);
    height: 5px;
    width: 17%;

    bottom: 0;
    left: 0;
} 
.contacting span{
    font-size: 1.25rem;
    font-weight: 300;
}

.contacting li span{
    font-size: 16px;
    font-weight:400;
    line-height:32px;
}
.contacting ul i {
    color: var(--main-color);}

.social-icons {
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    width: 3rem;
    height: 3rem;
    border: 3px solid var(--main-color);
}
.social-icons {
    font-size: 20px;
}
.social-icons:hover {
background-color: var(--main-color);
    border: 3px solid lightblue;
}
.social-icons:hover i{
color: white;
}


/* <!-- end--contact--section --> */
/* <!-- start--footer-section --> */
.footer {
    background-color: rgba(0, 0, 0, 0.9);
}
.footer p {
    color: white;
}